<!--The content below is only a placeholder and can be replaced.-->
  <h1 style="text-align:center">
    <!-- string intermolation c'est la propriété entre {{}} -->
    Welcome to {{ title }}!
  </h1>
<p>mon nom est {{name}}</p>
<!--  $event est obligatoire quand on veut écouter
un evenement user   -->
  <input type="text" (input)="onUserInput($event)">
<hr>
<p>{{number}}</p>
<!-- dans le angular.cli mettre bootsrap après style.css -->
<button class="btn btn-primary" (click)="onNewNumber()"> Clicker pour afficher un nombre </button>


